#splash {
  display: block;
  width: 100%;
  background-color: #1b1b1b;
  position: relative;
  top: 0px;
}
#splash .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
#splash .title h1 {
  margin: 0;
  font-size: 4em;
}
#splash .title h2 {
  color: #40b727;
  font-weight: 300;
}
#splash .title .contact-bar #linkedin::before {
  content: "\F08C";
}
#splash .title .contact-bar #git::before {
  content: "\F092";
}
#splash .title .contact-bar #email::before {
  content: "\F199";
}
#splash .title .contact-bar a {
  text-decoration: none;
}
#splash .title .contact-bar a:before {
  font-size: 50px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: FontAwesome;
}
#splash #logo {
  width: 96px;
}
.projects-wrapper,
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
.project-wrapper {
  width: 100%;
}
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .project-wrapper {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .project-wrapper {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.project-wrapper {
  float: left;
  position: relative;
}
.project-wrapper:before {
  display: block;
  content: "";
  width: 100%;
}
.project-wrapper::before {
  padding-top: 100%;
}
@media (max-width: 767px) {
  .project-wrapper::before {
    padding-top: 75%;
  }
}
.project {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position-x: center;
  background-position-y: 0px;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}
.project:hover {
  cursor: pointer;
}
.project:hover h3 {
  text-decoration: underline;
}
.project .summary {
  position: absolute;
  background-color: #1b1b1b;
  bottom: 0;
  width: 100%;
  padding: 15px;
}
.project .summary h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  color: #40b727;
}
.project .repo {
  float: right;
  text-decoration: none;
}
.project .repo:before {
  font-size: 22px;
  margin-left: 5px;
  font-family: FontAwesome;
  content: "\F09B";
}
.project-popover {
  position: fixed;
  background-color: #333;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
  transition: left ease 0.5s, boxShadow ease 0.5s;
  -webkit-transition: left ease 0.5s, boxShadow ease 0.5s;
  -moz-transition: left ease 0.5s, boxShadow ease 0.5s;
  -o-transition: left ease 0.5s, boxShadow ease 0.5s;
}
.project-popover .repo {
  text-decoration: none;
}
.project-popover .repo:before {
  font-family: FontAwesome;
  content: "\F09B";
}
.project-popover h2.additional-links {
  text-align: center;
  font-size: 3em;
  margin: 0;
  margin-bottom: -0.5em;
}
.project-popover h2.additional-links a {
  text-decoration: none;
}
.project-popover.in {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  left: 0%;
}
.project-popover h1,
.project-popover h2 {
  font-weight: 300;
}
.project-popover .scrollable {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
.project-popover .close-btn {
  text-decoration: none;
  font-size: 30px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.project-popover .media {
  text-align: center;
  margin: 20px 10px;
}
.project-popover .media img {
  max-width: 100%;
}
.project-popover .media iframe {
  border: none;
}
.project-popover .media video {
  width: 100%;
}
.project-popover .container {
  padding-bottom: 75px;
}
.image-row .captioned-image {
  width: 25%;
  float: left;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.image-row .captioned-image img,
.image-row .captioned-image video {
  width: 100%;
}
.image-row .captioned-image .caption {
  text-align: center;
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
* {
  box-sizing: border-box;
  color: #d3d3d3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}
a {
  color: #d3d3d3;
}
a:hover {
  color: white;
}
html,
body {
  background-color: #222;
}
body {
  padding-bottom: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #efefef;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}
h2,
h3 {
  color: #40b727;
}
h4 {
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
p {
  margin: 0;
}
p + p {
  margin-top: 1em;
}
li + li {
  margin-top: 0.5em;
}
p,
span,
li {
  line-height: 1.2em;
}
h1 {
  text-align: center;
  font-size: 3em;
}
hr {
  border: none;
  border-bottom: 1px solid white;
  margin: 0 10%;
  margin-bottom: 2em;
}
body.open {
  overflow: hidden;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
b,
strong {
  font-weight: 600;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 30px #40b727;
}
.aspect16x9 {
  position: relative;
}
.aspect16x9:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.aspect16x9 > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#resume {
  width: 8.5in;
  height: 11in;
  margin: auto;
  margin-top: 1in;
  margin-bottom: 1in;
  padding: 0.3in;
  padding-top: 0.3in;
  padding-left: 0.25in;
  padding-right: 0.35in;
  background-color: white;
}
@media print {
  #resume {
    margin: 0;
  }
}
#resume * {
  color: #444;
  letter-spacing: auto;
}
#resume h1,
#resume h2,
#resume h3,
#resume h4,
#resume h5,
#resume h6 {
  color: #222;
  margin: 0;
  text-align: left;
  font-weight: 300;
}
#resume h2 {
  color: #40b727;
}
#resume p,
#resume span,
#resume li {
  line-height: 1.1em;
}
@page {
  margin: 0;
}
#resume header,
#resume section {
  width: 100%;
  padding-left: 130px;
  position: relative;
}
#resume #head .dot {
  color: #40b727;
}
#resume #head h1 {
  font-size: 60px;
  letter-spacing: 26px;
  margin: 0;
  text-transform: uppercase;
}
#resume #head h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
}
#resume #head h3 {
  font-size: 13px;
  text-transform: uppercase;
}
#resume #head h3 a {
  font-family: Raleway;
}
#resume #head img {
  position: absolute;
  left: 0px;
  width: 100px;
  margin-left: 7px;
}
#resume #head span {
  margin: 0px 6px;
}
#resume #head a {
  text-decoration: none;
  color: inherit;
}
#resume section {
  margin-top: 10px;
}
#resume section h1 {
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  top: 1px;
  left: 0px;
  text-align: right;
  width: 130px;
  font-size: 16px;
  padding-right: 20px;
}
#resume section .item .dot {
  margin: 0px 10px;
}
#resume section .item h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
#resume section .item h2 .date {
  font-weight: 400;
}
#resume section .item h3 {
  font-weight: 600;
  margin-top: 0.1em;
  text-transform: uppercase;
  font-size: 15px;
}
#resume section .item h3 .skills {
  font-weight: 400;
}
#resume section ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}
#resume section ul li {
  font-size: 13px;
  margin-top: 0.2em;
}
#resume section p {
  font-size: 13px;
}
#resume section strong {
  font-weight: 500;
}
#resume section .item + .item {
  margin-top: 10px;
}
