<div class="container" id="contact-container">
    <div class="row title">
        <div class="col-lg-12">
            Contact
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <span class="email"><a href="mailto:austineng.inr@gmail.com"></a></span>
            <br />
            <span class="git"><a href="http://github.com/austinEng"></a></span>
            <br />
            <span class="linkedin"><a href="https://www.linkedin.com/in/austineng"></a></span>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='{{ site.baseurl }}/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}