    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html| truncate: 160 }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html| truncate: 160  }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />
    <meta name="site_name" property="og:site_name" content="{{ site.name }}" />

    {% if page.full_title %}
    <meta property="og:title" content="{{ page.full_title }}" />
    <meta property="twitter:title" content="{{ page.full_title }}" />
    {% elsif page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    <meta name="keywords" content="{{page.keywords | join: ', '}}"/>
    <meta name="url" property="og:url" content="{{ page.url }}"/>

    <meta property="og:image" content="//austineng.github.io/logo.png"/>
    <meta property="twitter:image" content="//austineng.github.io/logo.png"/>
    <meta name="theme-color" content="#43b117">